{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>BLOG LIST</h1>
    <br>

    {% if request.user.is_authenticated %}
        <p>{{user.username}} 님 환영합니다</p>
    {% endif %}

    {% for blog in posts %}
        <a href="{% url 'read_blog_one' blog.id %}"><h1>{{blog.title}}</h1></a>
        <hr>
    {% endfor %}

    {% if posts.has_previous %}
        <a href="?page=1">FIRST</a>
        <a href="?page={{posts.previous_page_number}}">PREVIOUS</a>
    {% endif %}

    <span>{{posts.number}}</span>
    <span>/</span>
    <span>{{posts.paginator.num_pages}}</span>

    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">NEXT</a>
    <a href="?page={{posts.paginator.num_pages}}">LAST</a>
    {% endif %}
</div>
{% endblock %}

